:root {
	--Azul-claro-1: hsl(from var(--Azul-primario) h s calc(l + 50));
	--Azul-primario: #006ce0;
	--Azul-oscuro-1: hsl(from var(--Azul-primario) h s calc(l - 7));
	--Azul-oscuro-2: hsl(from var(--Azul-primario) h s calc(l - 14));

	--Verde-primario: #11ae00;
	--Verde-oscuro-1: hsl(from var(--Verde-primario) h s calc(l - 7));
	--Verde-oscuro-2: hsl(from var(--Verde-primario) h s calc(l - 14));

	--Rojo-primario: #c70000;
	--Rojo-oscuro-1: hsl(from var(--Rojo-primario) h s calc(l - 7));
	--Rojo-oscuro-2: hsl(from var(--Rojo-primario) h s calc(l - 14));

	--Gris-fondo: #7b7b7b;
	--Blanco: #ffffff;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	position: relative;
}

.timers-container {
	min-width: 280px;
	font-family: Arial, sans-serif;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* outline: 1px solid blue; */
}

.iconoTimerContainer {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 35px;
	right: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
	z-index: -1;
	/* outline: 1px solid red; */
}

.iconoTimerContainer .iconoTimer {
	width: 100px;
	height: 100px;
}

.iconoTimerContainer h1 {
	width: 100%;
	font-size: 18px;
	margin: 0;
}

section { /* Los timers */
	width: 100%;
	/* outline: 1px solid violet; */
}

/* Timers pausados */
.paused-view {
	display: flex;
	/* gap: 10px; */
	/* outline: 1px solid red; */
}

.time-input {
	display: inline-block;
	width: 65px;
	height: 27px;
	vertical-align: top;
	border: none;
	border-radius: 6px;
	background-color: var(--Azul-claro-1);
	padding: 0 5px;
	/* outline: 1px solid orange; */
}

.time-input:focus {
	outline: 1px solid var(--Azul-primario);
}

.start-btn {
	margin-left: 5px;
	/* flex-shrink: 0; */
	/* outline: 3px solid green; */
}

/* Timers activos */
.active-view {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.timeYBar {
	/* width: 180px; */
	width: 100%;
	position: relative;
	/* outline: 1px solid red; */
}

.timer-display {
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	/* margin: auto; */
	color: var(--Blanco);
	/* outline: 1px solid violet; */
}

.time-bar {
	width: 100%;
	height: 100%; /* 20 px */
	background-color: var(--Gris-fondo);
	border-radius: 6px;
	overflow: hidden;
}


.time-bar-fill {
	width: 0;
	height: 100%; /* 20 px */
	background-color: var(--Azul-primario);
	border-radius: 6px;
	transition: width 0.3s ease;
}

.running-stripes {
	background-image: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	background-size: 20px 20px;
	animation: move-stripes 2s linear infinite;
}

@keyframes move-stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -20px 0;
	}
}


button {
	display: block-inline-flex;
	align-items: center;
	justify-content: center;
	padding: 4px 8px;
	border: none;
	border-radius: 6px;
	background-color: var(--Azul-primario);
	color: var(--Blanco);
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.2s;
}

button:focus {
	outline: 1px solid var(--Azul-oscuro-2);
}

button:hover {
	background-color: var(--Azul-oscuro-1);
}

button:active {
	background-color: var(--Azul-oscuro-2);
}

.start-btn {
	background-color: var(--Verde-primario);
}

.start-btn:focus {
	outline: 1px solid var(--Verde-oscuro-2);
}

.start-btn:hover {
	background-color: var(--Verde-oscuro-1);
}

.start-btn:active {
	background-color: var(--Verde-oscuro-2);
}

.reset-btn {
	background-color: var(--Rojo-primario);
}

.reset-btn:focus {
	outline: 1px solid var(--Rojo-oscuro-2);
}

.reset-btn:hover {
	background-color: var(--Rojo-oscuro-1);
}

.reset-btn:active {
	background-color: var(--Rojo-oscuro-2);
}


.buttons {
	display: flex;
	gap: 5px;
	/* background-color: violet; */
	/* outline: 1px solid red; */
	/* min-width: 100px; */
}

svg {
	position: relative;
	top: 2px;
	/* outline: 1px solid red; */
}

/* .buttons svg {
	/* top: 2px;
} */

.svg-icon {
	width: 16px;
	height: 16px;
	stroke: currentColor;
}