body {
	display: flex;
	position: relative;
}

.timers-container {
	min-width: 280px;
	font-family: Arial, sans-serif;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.iconoTimerContainer {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
	z-index: -1;
	/* outline: 1px solid red; */
}

.iconoTimerContainer .iconoTimer {
	width: 100px;
	height: 100px;
}

.iconoTimerContainer h1 {
	width: 100%;
	font-size: 18px;
	margin: 0;
}

section { /* Los timers */
	width: 100%;
	/* outline: 1px solid red; */
}

.time-input {
	width: 65px;
}

.active-view {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.timeYBar {
	width: 180px;
	position: relative;
	/* outline: 1px solid red; */
}

.timer-display {
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	/* margin: auto; */
	color: #fff;
	/* outline: 1px solid violet; */
}

.time-bar {
	width: 100%;
	height: 100%; /* 20 px */
	background-color: #7b7b7b;
	border-radius: 5px;
}

.time-bar-fill {
	width: 0;
	height: 100%; /* 20 px */
	background-color: #006ce0;
	border-radius: 5px;
}

.buttons {
	display: flex;
	gap: 10px;
	min-width: 100px;
}
